@inject BannerService BannerService

@if(BannerService.ClientVisible)
{
    <div class="alert alert-warning alert-dismissable fade show fixed-top banner" role="alert">
        @BannerService.Message
        <button type="button" class="close alert-warning" data-dismiss="alert" aria-label="Close" @onclick="Dismiss">
            <span aria-hidden="true">x</span>
        </button>
    </div>
}

@code {
    private bool clientVisible => BannerService.Visible;

    protected override void OnInitialized()
    {
        BannerService.OnChange += StateHasChanged;
    }

    private void Dismiss()
    {
        BannerService.ToggleVisibility(false);
    }

    public void Dispose()
    {
        BannerService.OnChange -= StateHasChanged;
    }
}
