@inject AppAuthenticationStateProvider AppAuthStateProvider
@inject NavigationManager NavigationManager

<div>
    <header class="d-flex justify-content-center flex-wrap py-2">
        <NavLink href="/" class="text-light nav-item"><img src="/tdt_logo.png" alt="Tennessee Department of Treasury Logo" style="width: 100%" /></NavLink>

        <ul class="list-unstyled nav flex-row align-items-end">

            <li class="bg-light separation mx-2"></li>
            
            <li class="dropdown menu-overflow">
                <button class="btn text-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Public</button>
                <ul class="dropdown-menu">
                    <li>
                        <NavLink href="/faqs" class="text-light dropdown-item btn">FAQs</NavLink>
                    </li>
                    <li>
                        <NavLink href="/documentation" class="text-light dropdown-item btn">Documentation</NavLink>
                    </li>
                    <li>
                        <NavLink href="/about-us" class="text-light dropdown-item btn">About Us</NavLink>
                    </li>
                    <li>
                        <NavLink href="/contact-us" class="text-light dropdown-item btn">Contact Us</NavLink>
                    </li>
                </ul>
            </li>
            
            <li class="bg-light separation mx-2"></li>
        
            <AuthorizeView>
                <Authorized>
                    <li>
                        <NavLink href="/staff/view-content" class="text-light nav-item btn">View Content</NavLink>
                    </li>

                    <li class="bg-light separation mx-2"></li>

                    <li class="dropdown menu-overflow">
                        <button class="btn text-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Manager/Supervisor</button>
                        <ul class="dropdown-menu">
                            <li>
                                <NavLink href="/mngr-sprvsr/manage-categories" class="text-light dropdown-item btn">Manage Categories</NavLink>
                            </li>
                            <li>
                                <NavLink href="/mngr-sprvsr/manage-content" class="text-light dropdown-item btn">Manage Content</NavLink>
                            </li>
                        </ul>
                    </li>

                    <li class="bg-light separation mx-2"></li>

                    <li class="dropdown menu-overflow">
                        <button class="btn text-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                        <ul class="dropdown-menu">
                            <li>
                                <NavLink href="/admin/manage-users" class="text-light dropdown-item btn">Manage Users</NavLink>
                            </li>
                            <li>
                                <NavLink href="/admin/manage-banner" class="text-light dropdown-item btn">Manage Banner</NavLink>
                            </li>
                        </ul>
                    </li>
                    <li class="bg-light separation mx-2"></li>
                </Authorized>
            </AuthorizeView>
        </ul>
        <div class="text-end nav flex-row align-items-end">
            <AuthorizeView>
                <Authorizing>Checking Authentication...</Authorizing>

                <Authorized>
                    <NavLink href="javascript:void()" class="btn btn-light disabled mx-3">@context.User?.Identity?.Name</NavLink>
                    <button type="button" class="btn btn-primary" @onclick="SignOutAsync">Sign-out</button>
                </Authorized>

                <NotAuthorized>
                    <NavLink href="/sign-in" class="btn btn-primary">Sign-in</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </header>
</div>

@code {
    private async Task SignOutAsync()
    {
        await AppAuthStateProvider.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }
}
