@inject AppAuthenticationStateProvider AppAuthStateProvider
@inject NavigationManager NavigationManager

<div>
    <header class="d-flex justify-content-center flex-wrap py-2">
        <NavLink href="/" class="text-light nav-item"><img src="/tcrs_logo.png" style="max-width: 75%" /></NavLink>

        <ul class="list-unstyled nav flex-row align-items-end">
            <li class="bg-light separation mx-2"></li>
            <li>
                <NavLink href="/" class="text-light nav-item btn">Home</NavLink>
            </li>
            <li>
                <NavLink href="/faqs" class="text-light nav-item btn">FAQs</NavLink>
            </li>
            <li>
                <NavLink href="/about-us" class="text-light nav-item btn">About Us</NavLink>
            </li>
            <li>
                <NavLink href="/contact-us" class="text-light nav-item btn">Contact Us</NavLink>
            </li>
            <li class="bg-light separation mx-2"></li>
        </ul>
            <AuthorizeView>
                <Authorized>
                    <ul class="list-unstyled nav flex-row align-items-end">
                        <li>
                            <NavLink href="/staff/view-content" class="text-light nav-item btn">View Content</NavLink>
                        </li>
                        <li class="bg-light separation mx-2"></li>
                    </ul>

                <div class="dropdown nav flex-row align-items-end menu-overflow">
                        <NavLink href="#" class="btn nav-item text-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Manager/Supervisor</NavLink>
                        <ul class="dropdown-menu">
                            <li>
                            <NavLink href="/mngr-sprvsr/manage-categories" class="text-light dropdown-item btn">Manage Categories</NavLink>
                            </li>
                            <li>
                                <NavLink href="/mngr-sprvsr/manage-content" class="text-light dropdown-item btn">Manage Content</NavLink>
                            </li>
                            <li class="bg-light separation mx-2"></li>
                        </ul>
                    </div>
                </Authorized>
            </AuthorizeView>
        <div class="text-end nav flex-row align-items-end">
            <AuthorizeView>
                <Authorizing>Checking Authentication...</Authorizing>

                <Authorized>
                    <NavLink href="javascript:void()" class="btn btn-light disabled mx-3">@context.User?.Identity?.Name</NavLink>
                    <button type="button" class="btn btn-primary" @onclick="SignOutAsync">Sign-out</button>
                </Authorized>

                <NotAuthorized>
                    <NavLink href="/sign-in" class="btn btn-primary">Sign-in</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </header>
</div>

@code {
    private async Task SignOutAsync()
    {
        await AppAuthStateProvider.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }
}
