
<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between flex-wrap py-2">
        <NavLink href="/" class="text-light nav-link"><img src="/tcrs_logo.png"</NavLink>

        <ul class="list-unstyled nav flex-row align-items-end">
            <li>
                <NavLink href="/" class="text-light nav-link">Home</NavLink>
            </li>
            <li>
                <NavLink href="/faqs" class="text-light nav-link">FAQs</NavLink>
            </li>
            <li>
                <NavLink href="/about" class="text-light nav-link">About</NavLink>
            </li>
            <li>
                <NavLink href="/manage-content" class="text-light nav-link">Manage Content</NavLink>
            </li>
        </ul>

        <div class="text-end nav flex-row align-items-end">
            <NavLink href="/sign-in" class="btn btn-primary">Sign-in</NavLink>
        </div>
    </header>
</div>

@code {

}
