@page "/contact-us"

<PageTitle>Contact Us | TCRS App</PageTitle>

<div class="bg-image2 m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-section">
                <h6>Tennessee Consolidated Retirement System</h6>

                <div class="divider divider-small divider-small-sm divider-small-center divider-light">
                    <div class="buffer"><hr class="small-hr" /></div>
                </div>
                <h1>Contact Us</h1>

                <p class="lead mb-0">
                    We want to help you achieve a healthy, happy, and secure future, no matter where your retirement dreams take you.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="spacer-red"></div>

<div class="second-section m-0 p-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-dark mb-5">Have questions about your retirement account? <br />
                    We're here to help!
                </h3>
                <div class="text-dark mb-5">
                    <h5 class="text-decoration-underline">Phone Numbers</h5>
                    <ul class="list-unstyled">
                        <li>Main Line: (800) 922.7772</li>
                        <li>Telecommunications Device for the Deaf: (800) 766.4952</li>
                    </ul>
                    <div class="spacer-blue"></div>
                    <br />
                    <h5 class="text-decoration-underline">Email</h5>
                    <ul class="list-unstyled">
                        <li><a href="mailto:TCRS.CustomerSupport@tn.gov">TCRS.CustomerSupport@tn.gov</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
