@page "/faqs"

<PageTitle>FAQs</PageTitle>

<div class="bg-image2 m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-section">
                <h6>Tennessee Consolidated Retirement System</h6>

                <div class="divider divider-small divider-small-sm divider-small-center divider-light">
                    <div class="buffer"><hr /></div>
                </div>
                <h1>Frequently Asked Questions (FAQs)</h1>

                <p class="lead mb-0">
                    We want to help you achieve a healthy, happy, and secure future, no matter where your retirement dreams take you.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="spacer-red"></div>

<div class="second-section m-0 p-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-dark mb-5">Topic 1</h3>
                <p class="text-dark mb-5">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        <br />
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <br />
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <br />
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    </ul>
                </p>

                <div class="spacer-blue"></div>

                <h3 class="text-dark mb-5">Topic 2</h3>
                <p class="text-dark mb-5">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        <br />
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <br />
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <br />
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    </ul>
                </p>

                <div class="spacer-blue"></div>

                <h3 class="text-dark mb-5">Topic 3</h3>
                <div class="text-dark mb-5">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        <br />
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <br />
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <br />
                        <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
