@page "/"

<PageTitle>Home | TCRS App</PageTitle>

<div class="bg-image1 m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-section">
                <h6>Tennessee Consolidated Retirement System</h6>

                <div class="divider divider-small divider-small-sm divider-small-center divider-light">
                    <div class="buffer"><hr class="small-hr" /></div>
                </div>
                <h1 class="h1-home">TCRS Home Page</h1>

                <p class="lead mb-0">
                    We want to help you achieve a healthy, happy, and secure future, no matter where your retirement dreams take you.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="spacer-red"></div>

<div class="second-section m-0 p-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-light mb-3">Looking for Retirement Options?</h3>
                <p class="lead text-light mb-3">
                    With this site, you can get access to all of the information to point you in the right direction.
                </p>
                <p class="left-align" style="width: fit-content; margin: auto;">
                    <a class="btn btn-borders mb-3 px-4 d-block link" href="https://retirereadytn.empower-retirement.com/participant/#/login" target="_blank">
                        <em class="fa-solid fa-gauge-high"></em>
                        Log in to your 401(k)/457 accounts
                    </a>
                    <a class="btn btn-borders mb-3 px-4 d-block link" href="https://mytcrs.tn.gov/DPAS.WebUI.Internet/Common/Pages/Login.aspx" target="_blank">
                        <em class="fa-solid fa-gears"></em>
                        Log in to TCRS Self-Service
                    </a>
                    <a class="btn btn-borders mb-3 px-4 d-block link" href="https://treasury.tn.gov/Retirement/Information-and-Resources/Meet-with-an-Advisor" target="_blank">
                        <em class="fa-regular fa-user"></em>
                        Meet with a Retirement Plan Advisor
                    </a>
                </p>
            </div>
            
            <div class="col-md-4">
                <img src="/tcrs_logo.png" alt="Tennessee Consolidated Retirement System Logo" class="tcrs-logo" />
            </div>
        </div>
    </div>
</div>
