.btn {
    border: 2px solid #fff;
}

a {
    margin: 0;
    font: inherit;
}

.left-align {
    text-align: left;
}
.left-alaign a.btn {
    display: inline-block;
    vertical-align: top;
}

.second-section {
    background-color: #081d55 !important;
    border-color: #06153e !important;
}

.container-fluid {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.tcrs-logo {
    width: 100%;
}
