@page "/"

<PageTitle>Home | TCRS App</PageTitle>

<div class="bg-image1 m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-section">
                <h6>Tennessee Consolidated Retirement System</h6>

                <div class="divider divider-small divider-small-sm divider-small-center divider-light">
                    <div class="buffer"><hr class="small-hr" /></div>
                </div>
                <h1 class="h1-home">TCRS Home Page</h1>

                <p class="lead mb-0">
                    We want to help you achieve a healthy, happy, and secure future, no matter where your retirement dreams take you.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="spacer-red"></div>

<div class="second-section m-0 p-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-light mb-5">Are you retirement ready?</h3>
                <p class="lead text-light mb-5">
                    With RetireReadyTN, you can view your customized retirement dashboard and check your progress on the way to meeting your retirement goals.
                </p>
                <p>
                    <a class="btn btn-borders btn-light mr-10 mb-10 mt-15" href="https://retirereadytn.empower-retirement.com/participant/#/login?accu=TennesseeWR">
                        Login to your retirement dashboard
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
